* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'sans-serif';
    overflow-x: hidden;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: white;
}

.container {
    display: flex;
    width: 100%;
}
.intro {
    height: 100vh;
    background: url('images/idle_background-01.png') center no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.intro__logo {
    width: 350px;
}
.intro__subheader {
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #39454C;
}
.benefits {
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 40px;
}
.benefits__poster {
    width: 55%;
}
.benefits-list {
    width: 40%;
}
.benefits-list__item {
    display: flex;
    align-items: center;
    margin: 10px;
    margin: 40px 0;
    padding: 24px;
    border: 3px solid #FF8526;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase
}
.benefits-list__item img {
    width: 60px;
    margin-right: 28px;
}
.training {
    justify-content: center;
    padding: 25vh 0;
}
.training__content {
    text-align: center;
}
.training__video {
    border: 5px solid #FF8526;
    width: 560px;
    border-radius: 10px;
    overflow: hidden;
}
.training__present {
    margin-right: 5vw;
}
.training__poster {
    border: 5px solid #FF8526;
    border-radius: 10px;
    width: 560px;
    height: 330px;
    background: url("images/agile_conference.jpg") center no-repeat;
    background-size: cover;
}
.training h4 {
    text-align: center;
    height: 50px;
}
h1 {
    text-align: center;
}
.education {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
}
.education__item {
    border: 5px solid #FF8526;
    border-radius: 10px;
    width: 320px;
    height: 300px;
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 4vw;
}
.education__item:hover {
    background: #eee;
}
.education__item img {
    width: 60%;
    margin-bottom: 30px;
}
.education__dialog {
    transition: all .3s ease;
    height: 100vh;
    width: 100%;
    padding: 40px;
    background: rgba(0,0,0, .4);
    position: fixed;
    left: 0; top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.close {
    position: absolute;
    right: 20px; top: 20px;
    z-index: 5;
    cursor: pointer;
    background: rgba(255, 255, 255,.5);
    border-radius: 50%;
    height: 50px;
    padding: 10px;
}
.close img {
    width: 30px;
}
.list {
    background: white;
    width: 70%;
    border: 3px solid #FF8526;
    border-radius: 10px;
    margin: 20px auto;
    max-height: 80vh;
    overflow-y: auto;
}
.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: left;
}
.list li a {
    color: darkblue;
}
.list li:nth-of-type(even) {
    background: #eee;
}
.list__desc {
    text-align: right;
    width: 120px;
    font-size: 12px;
}

.feedback {
    padding-top: 40px;
    justify-content: center;
}
.feedback iframe {
    width: 50%;
    height: 100vh;
}

@media only screen and (max-width: 950px) {
    .intro__logo {
        width: 150px;
    }
    .intro__subheader {
        font-size: 12px;
        width: 150px;
        margin-left: 0;
    }
    .list {
        width: 100%;
    }
    iframe {
        width: 320px;
        height: 180px;
    }
    .benefits {
        padding: 0;
        flex-flow: column;
        justify-content: center;
    }
    .benefits-list {
        width: 90%;
    }
    .benefits-list__item {
        margin: 15px 0;
    }
    .benefits-list__item img {
        width: 40px;
    }
    .benefits-list__item p {
        font-size: 14px;
    }
    .benefits__poster {
        width: 100%;
        margin: 10 0;
    }
    .education__item {
        width: 280px;
        height: 260px;
    }
    .education, .training {
        flex-flow: column;
        padding: 20px;
    }
    .training__video, .training__poster {
        width: 320px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .training__present {
        margin-right: 0;
    }
    .training__poster {
        height: 200px;
    }
    .training h4 {
        height: auto;
        margin-bottom: 20px;
    }
    .feedback iframe {
        width: 100%;
    }
}