* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'sans-serif';
    overflow-x: hidden;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: white;
}

.container {
    display: flex;
    width: 100%;
}
.intro {
    height: 100vh;
    background: url('images/agile_bg.png') center no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.intro__logo {
    width: 350px;
}
.intro__subheader {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: 300;
    color: #555;
}
.benefits {
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 40px;
}
.benefits__poster {
    width: 55%;
}
.benefits-list {
    width: 40%;
}
.benefits-list__item {
    display: flex;
    align-items: center;
    margin: 10px;
    margin: 40px 0;
    padding: 24px;
    border: 3px solid #FF8526;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase
}
.benefits-list__item img {
    width: 60px;
    margin-right: 28px;
}
.frame {
    align-items: center;
    justify-content: center;
}
.frame__content {
    text-align: center;
}
.frame__video {
    border: 5px solid #FF8526;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}
.frame__content h3 {
    font-size: 24px;
    font-weight: 900;
}
.courses-table {
    width: 90%;
    margin-right: 40px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #FF8526;
}
.courses-table thead {
    font-weight: 700;
    border-bottom: 1px solid rgb(255, 133, 19);
}
.courses-table td {
    padding: 10px 15px;
    font-size: 16px;
}
.courses-table td:first-of-type {
    width: 30%;
    border-right: 1px solid rgb(255, 133, 19);
}
.courses-table tr:nth-of-type(even) {
    background: #FFAE22;
}
.education h1 {
    text-align: center;
}
.list {
    width: 90%;
    border: 3px solid #FF8526;
    border-radius: 10px;
    margin: 20px auto;
}
.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: left;
}
.list li:nth-of-type(even) {
    background: #eee;
}
.list__desc {
    text-align: right;
    width: 120px;
    font-size: 12px;
}
@media only screen and (max-width: 950px) {
    .list {
        width: 100%;
    }
    iframe {
        width: 320px;
        height: 180px;
    }
    .benefits {
        padding: 0;
        flex-flow: column;
        justify-content: center;
    }
    .benefits-list {
        width: 90%;
    }
    .benefits-list__item {
        margin: 15px 0;
    }
    .benefits-list__item img {
        width: 40px;
    }
    .benefits-list__item p {
        font-size: 14px;
    }
    .benefits__poster {
        width: 100%;
        margin: 10 0;
    }
}